@import 'app/assets/styles/variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-base text-black;
	
}
:root {
	--size: 120;
	--coefficient: 1px;
	--timeline: 2.6s;
	--delay: 0.65s;
	--rotation-y: -24;
	--rotation-x: 28;
	--color-one: #3a0ca3;
	--color-two: #4361ee;
	--color-three: #4cc9f0;
}

*:after,
*:before,
* {
	box-sizing: border-box;
	transform-style: preserve-3d;
}
